fastapi>=0.100.0
uvicorn[standard]>=0.23.0
SQLAlchemy>=2.0.0
databases[sqlite]>=0.8.0
alembic>=1.10.0
python-dotenv>=1.0.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
celery[redis]>=5.3.0
rarfile>=4.0
redis
python-multipart